eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8764
spring:
  application:
    name: login-center
management:
  endpoint:
    health:
      show-details: always
